<html>
  <head>
  <title>TV Ni Mang Tomas</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <div id="content">
    <%= yield %>
  </div>  
  </body>
</html>
